body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

#logo {
  width: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  position: fixed;
  width: 90vw;
  z-index: 100;
  color: white;
  font-size: 10pt;
}

#nav-links {
  display: flex;
  column-gap: 20px;
  text-transform: uppercase;
}

#hero {
  background-image: url(../assets/images/chopbertahero.jpg);
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
}

#hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#welcome {
  font-size: 60px;
}

#choping {
  font-size: 90px;
}

.menu-button {
  background-color: #FF0000;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: #FF0000;
}

#about {
  display: flex;
  justify-content: center;
  padding: 60px;
  text-align: center;
  align-items: center;
  row-gap: 20px;
}

#about-image {
  width: 400px;
  border-radius: 30px;
  transition: transform 0.5s;
}

#about-image:hover{
  transform:scale(1.1)
}

.sub-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#hunter {
  color: #FF0000;
  font-size: 30px;
}

#huntered {
  font-size: 50px;
  font-weight: 700px;
}

#gibirish {
  font-size: 15px;
  padding: 30px 78px;
}

#about-link a {
  text-decoration: none;
}

.sub-header span:nth-child(1) {
  font-size: 30px;
}

.sub-header span:nth-child(2) {
  font-size: 50px;
}

#discover-main {
  background-image: url(../assets/images/discoverbackground.jpg);
  height: 80vh;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#discover-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 80px;
}

#discover-word {
  font-size: 40px;
  color: #FF0000;
}

#discover-chop-berta {
  font-size: 100px;
}

.options{
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0px;
  height: 50vh;
}

#romantic-building{
  width: 400px;
  border-radius: 10px;
  transition: transform 0.5s;
}

#romantic-building:hover{
  transform: scale(1.1);
}

#delicious{ 
  width: 400px;
   border-radius: 10px;
   transition: transform 0.5s;
}

#delicious:hover{
  transform: scale(1.1);
}

#wine{
  width: 400px;
  border-radius: 10px;
  transition: transform 0.5s;
}

#wine:hover{
   transform: scale(1.1);
}

#menu{
  background-color: #F4F1EB;
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}

#menu-sub-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#menu-discover{
  color: #FF0000;
  font-size: 30px;
}

#menu-our-menu{
  color: black;
  font-size: 60px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 80vw;
}

.grid-container img{
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}

.group1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 520px;
}

.group2 {
  grid-column-start: 1;
   grid-column-end: 3;
   height: 250px;
}

.group3{
  height: 250px;
}

#lunch-button{
  display: flex;
  justify-content: center;
  background-color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  z-index: 100px;
}

#video-main {
  height: 60vh;
  width: 100vw;
  position: relative;
  margin-bottom: 100px;
}

#video{
 width: inherit;
 height: inherit;
 object-fit: cover;
}

#video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-overlay .sub-header span:last-child{
  color: white; 
}

#reservation{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
#sectionA{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#reservation-image{
  width: 400px;
  border-radius: 10px;
}

#footer{
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo-footer{
 width: 100px;
 height: 50px;
}

#footer-text{
  display: flex;
  color: white;
  text-align: center;
}

#footer-icons{
  display: flex;
  flex-direction: row;
  color: white;
  column-gap: 10px;
}